<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/DivyashSinghHura/IdeaProjects/program/DemoTestNG">
        <classes>
            <class name="DemoTestNG.Homepage">
                <methods>
                    <include name="log"/>
                    <include name="logout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
<suite name="All Test Suite">
<test name="Test1">
    <groups>
        <run>
            <include name="log"/>
        </run>
    </groups>
    <classes>
        <class name="DemoTestng1.AccessPage">
            <methods>
                <include name="login"/>
                <include name="verify"/>
                <include name="logout"/>
            </methods>
        </class>
    </classes>
</test>
<test name="Test2">
    <groups>
        <run>
            <include name="access"/>
        </run>
    </groups>
    <classes>
        <class name="DemoTestng1.AccessPage">
            <methods>
                <include name="verify"/>
                <include name="forgetpass"/>
            </methods>
        </class>
    </classes>
</test>
</suite>